@import 'tailwindcss';

@font-face {
    font-family: 'Pretendard';
    src: url('./assets/fonts/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
body {
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
        'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}


.bg-disabled {
    background-color: #D6D0EF;
}

.bg-dark-purple {
    background-color: #4D009C;
}

.bg-purple {
    background-color: #7F00FF;
}

.bg-lite-purple {
    background-color: #EBE6FD;
}
